@model CriteriaItemsMinhMN

@{
    ViewData["Title"] = "Xóa tiêu chí";
}

<h1>Xóa Criteria Item</h1>
<h3 class="text-danger">Bạn có chắc muốn xóa tiêu chí này?</h3>
<hr />
<dl class="row">
    <dt class="col-sm-3">Bộ template</dt>
    <dd class="col-sm-9">@(Model.CriteriaTemplateSetsMinhMN?.criteriaSetName ?? $"#{Model.CriteriaSetIdMinhMN}")</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CriteriaName)</dt>
    <dd class="col-sm-9">@Model.CriteriaName</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
    <dd class="col-sm-9">@Model.Description</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Weight)</dt>
    <dd class="col-sm-9">@Model.Weight</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MaxScore)</dt>
    <dd class="col-sm-9">@Model.MaxScore</dd>
</dl>
<form asp-action="Delete">
    <input type="hidden" asp-for="CriteriaIdMinhMN" />
    <input type="hidden" name="criteriaSetId" value="@Model.CriteriaSetIdMinhMN" />
    <input type="submit" value="Xóa" class="btn btn-danger" />
    <a asp-action="Index" asp-route-criteriaSetId="@Model.CriteriaSetIdMinhMN" class="btn btn-secondary">Hủy</a>
</form>
