@model CriteriaItemsMinhMN

@{
    ViewData["Title"] = "Chi tiết tiêu chí";
}

<h1>Chi tiết Criteria Item</h1>
<hr />
<dl class="row">
    <dt class="col-sm-3">Bộ template</dt>
    <dd class="col-sm-9">@(Model.CriteriaTemplateSetsMinhMN?.criteriaSetName ?? $"#{Model.CriteriaSetIdMinhMN}")</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CriteriaIdMinhMN)</dt>
    <dd class="col-sm-9">@Model.CriteriaIdMinhMN</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CriteriaName)</dt>
    <dd class="col-sm-9">@Model.CriteriaName</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
    <dd class="col-sm-9">@Model.Description</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Weight)</dt>
    <dd class="col-sm-9">@Model.Weight</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MaxScore)</dt>
    <dd class="col-sm-9">@Model.MaxScore</dd>
</dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CriteriaIdMinhMN" class="btn btn-primary">Sửa</a>
    <a asp-action="Index" asp-route-criteriaSetId="@Model.CriteriaSetIdMinhMN" class="btn btn-secondary">Danh sách</a>
</div>
